<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entropy.dao.ArticleMapper">
    <update id="updateArticle" parameterType="Article">
        update t_article
        <set>
            <if test="title!=null and title!=''">
                title=#{title},
            </if>
            <if test="content!=null and content!=''">
                content=#{content},
            </if>
            <if test="created!=null">
                created=#{created},
            </if>
            <if test="modified!=null">
                modified=#{modified},
            </if>
            <if test="categories!=null and categories!=''">
                categories=#{categories},
            </if>
            <if test="tags!=null and tags!=''">
                tags=#{tags},
            </if>
            <if test="allowComment!=null">
                allow_comment=#{allowComment},
            </if>
            <if test="thumbnail!=null and thumbnail!=''">
                thumbnail=#{thumbnail},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>